body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f4f4f4;
}

header {
  background: #1e1e2f;
  color: white;
  padding: 1rem;
  text-align: center;
}

#map {
  height: calc(100vh - 100px);
  width: 100%;
}
